<div class="total">
<h1>Flat Sign Up Form</h1>
<div class="sub-main-w3">
	<form action="#" method="post">
			<h2> SIGN UP</h2>
		<div class="form-style-agile">

			<input placeholder="First Name" name="name" type="text" required="">
		</div>
		<div class="form-style-agile">

			<input placeholder="Last Name" name="name" type="text" required="">
		</div>
		<div class="form-style-agile">

			<input placeholder="Phone Number" name="name" type="text" required="">
		</div>
		<div class="form-style-agile">

			<input placeholder="Email" name="name" type="text" required="">
		</div>
		<div class="form-style-agile">
			<input placeholder="Password" name="Password" type="password" required="">
		</div>
		<div class="form-style-agile">
			<input placeholder="Confirm Password" name="Password" type="password" required="">
		</div>

		
		<div class="but">
			<input type="submit" class="but" value="Sign UP">
		</div>
	</form>
</div>
</div>